<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/forgotPassword.css}" />
    <link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css}" crossorigin="anonymous">
    <title>renew password</title>
</head>
<body>

<div class="container">
    <form th:action="@{/api/operation_for_all/renewpassword}" method="post" th:object="${user}">
            <div class="input-group" id="password-group" >
                <input type="hidden" id="hidden" th:field="*{userId}" name="password" required>
                <label for="password">New Password:</label>
                <input type="password" id="password" th:field="*{password}" name="password" required>

                <label for="confirm-password">Confirm Password:</label>
                <input type="password" id="confirm-password" name="confirm-password" required>
            </div>
        <button class="button" id="renew-btn"  onclick="showPopup()">Renew Password</button>
    </form>
</div>
</body>
</html>